/* body {
	background: #9053c7;
	background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
	background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
	background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
	background: linear-gradient(-135deg, #c850c0, #4158d0);
} */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,100;1,200;1,300&display=swap");
* {
	font-family: "Poppins", sans-serif;
}
.customShadow {
	box-shadow: 5px 10px 29px 0 rgb(68, 88, 144, 0.2);
	transition: all 0.3s ease-in-out;
	border-radius: 10px;
}

.price {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
}

.customCard {
	width: 57%;
}

.card-body {
	margin-bottom: 25px;
}

.card-footer {
	margin-top: 10px;
}
.mainBill {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}

.billItems {
	margin-bottom: 1%;
}

.billdetails {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	flex-direction: row;
}

.placement {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}

@media only screen and (max-width: 991px) {
	.card {
		width: 94%;
	}
}
